spawn-at-startup "Pipewire"
spawn-at-startup "swww-daemon"
spawn-at-startup "waybar"
spawn-at-startup "udiskie"
spawn-at-startup "xwayland-satellite"

binds {
    Mod+Space { spawn "foot"; }
    Mod+E { spawn "foot" "sh" "-c" "yazi"; }
    Mod+W { spawn "foot" "--app-id" "wallpaper-selector" "-w" "580x630" "-e" "/home/user/.config/scripts/wpchange.sh"; } 
    Mod+Shift+D { spawn "fuzzel"; }
    XF86MonBrightnessUp 	{ spawn "brightnessctl" "-q" "set" "2%+"; }
    XF86MonBrightnessDown 	{ spawn "brightnessctl" "-q" "set" "2%-"; }
    XF86AudioPlay 		{ spawn "playerctl" "play-pause"; }
    XF86AudioNext 		{ spawn "playerctl" "next"; }
    XF86AudioPrev 		{ spawn "playerctl" "previous"; }
    XF86AudioMute 	{ spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }	
	XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
	XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    Mod+Shift+space 		{ toggle-window-floating; }
    Mod+Q 		{ close-window; }
    Mod+X			{ toggle-overview; }

    Mod+left 			{ focus-column-left; }
    Mod+down 			{ focus-workspace-down; }
    Mod+up 			{ focus-workspace-up; }
    Mod+right 			{ focus-column-right; }
    Mod+Shift+left 		{ move-column-left; }
    Mod+Shift+down		{ move-column-to-workspace-down; }
    Mod+Shift+up		{ move-column-to-workspace-up; }
    Mod+Shift+right		{ move-column-right; }
 
    Mod+1 			{ focus-workspace 1; }
    Mod+2 			{ focus-workspace 2; }
    Mod+3 			{ focus-workspace 3; }
    Mod+4 			{ focus-workspace 4; }
    Mod+5 			{ focus-workspace 5; }
    Mod+Shift+1 		{ move-column-to-workspace 1; }
    Mod+Shift+2 		{ move-column-to-workspace 2; }
    Mod+Shift+3 		{ move-column-to-workspace 3; }
    Mod+Shift+4 		{ move-column-to-workspace 4; }
    Mod+Shift+5 		{ move-column-to-workspace 5; }
    Mod+WheelScrollDown 	{ focus-column-right; }
    Mod+WheelScrollUp 		{ focus-column-left; }
    Mod+Shift+WheelScrollDown 	{ move-column-right; }
    Mod+Shift+WheelScrollUp 	{ move-column-left; }


    Mod+R 			{ switch-preset-column-width; }
    Mod+F 		{ maximize-column; }
    Mod+Shift+F 			{ fullscreen-window; }
    Mod+C 			{ center-column; }

    Ctrl+Alt+Delete 		{ quit; }
    Mod+Shift+S { spawn "flameshot" "gui"; }
}


input {
    keyboard {
        xkb {
           layout "us,ru,ua"
           options "grp:caps_toggle"
       }
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        natural-scroll
        accel-speed -0.5 
    }
}


output "eDP-1" {
    mode "1920x1080@144"
    scale 1 
}

layout {
    background-color "transparent"
    gaps 15
    focus-ring {
        off
    }
}

include "./colors.kdl"

environment {
  XCURSOR_THEME "Bibata-Modern-Classic"
  QT_QPA_PLATFORM "wayland"
  QT_QPA_PLATFORMTHEME "qt6ct"
  MOZ_ENABLE_WAYLAND "1"
  XDG_SESSION_TYPE "wayland"
  XDG_CURRENT_DESKTOP "niri"
  XDG_SESSION_DESKTOP "niri"
  OZ_DBUS_REMOTE "1"
  GDK_BACKEND "wayland"
	DISPLAY ":0"
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 30
}

prefer-no-csd

animations {
    slowdown 0.95
    workspace-switch {
        spring damping-ratio=1.15 stiffness=600 epsilon=0.0001
    }
    window-open {
        curve "cubic-bezier" 0.05 0.9 0.1 1
    }
    window-close {
        duration-ms 200
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=600 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=1.15 stiffness=600 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.15 stiffness=600 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.85 stiffness=700 epsilon=0.001
    }
    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}

window-rule {
    match app-id="wallpaper-selector"
    open-floating true
    default-column-width {}
}
window-rule {
    match app-id="audio"
    open-floating true
    default-column-width {}
}
window-rule {
    match app-id="powermenu"
    open-floating true
    default-column-width {}
}

window-rule {
    geometry-corner-radius 19
    clip-to-geometry true
}

layer-rule {
    match namespace="swww-daemon"
    place-within-backdrop true
}

layer-rule {
    match namespace="waybar"
    match at-startup=true
    opacity 0.9999
}

workspace "1" {
    open-on-output "eDP-1"
}

workspace "2" {
    open-on-output "eDP-1"
}

workspace "3" {
    open-on-output "eDP-1"
}

workspace "4" {
    open-on-output "eDP-1"
}

workspace "5" {
    open-on-output "eDP-1"
}






